
<div class="alert alert-info" role="alert">
  <p>
    <center><b>Usage Guidelines</b></center>
  </p>

  <p>
    This lesson is part of the <b>DS Lab core curriculum</b>. For that reason, this notebook can only be used on your WQU virtual machine.
  </p>

  <p>
    This means:
    <ul>
      <li><span style="color: red">‚ìß</span> No downloading this notebook.</li>
      <li><span style="color: red">‚ìß</span> No re-sharing of this notebook with friends or colleagues.</li>
      <li><span style="color: red">‚ìß</span> No downloading the embedded videos in this notebook.</li>
      <li><span style="color: red">‚ìß</span> No re-sharing embedded videos with friends or colleagues.</li>
      <li><span style="color: red">‚ìß</span> No adding this notebook to public or private repositories.</li>
      <li><span style="color: red">‚ìß</span> No uploading this notebook (or screenshots of it) to other websites, including websites for study resources.</li>
    </ul>

  </p>
</div>

<font size="+3"><strong>6.5. Small Business Owners in the United Statesüá∫üá∏</strong></font>

In this assignment, you're going to focus on business owners in the United States. You'll start by examining some demographic characteristics of the group, such as age, income category, and debt vs home value. Then you'll select high-variance features, and create a clustering model to divide small business owners into subgroups. Finally, you'll create some visualizations to highlight the differences between these subgroups. Good luck! üçÄ

In [2]:
# Import libraries here
import pandas as pd
import plotly.express as px
from scipy.stats.mstats import trimmed_var
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# Prepare Data

## Import

Let's start by bringing our data into the assignment.

**Task 6.5.1:** Read the file `"data/SCFP2019.csv.gz"` into the DataFrame `df`.

In [3]:
df = pd.read_csv("Survey of Consumer Finances.csv")
print("df shape:", df.shape)
df.head()

df shape: (28885, 352)

,Unnamed: 0,YY1,Y1,WGT,HHSEX,AGE,AGECL,EDUC,EDCL,MARRIED,...,NWCAT,INCCAT,ASSETCAT,NINCCAT,NINC2CAT,NWPCTLECAT,INCPCTLECAT,NINCPCTLECAT,INCQRTCAT,NINCQRTCAT
0,0,1,11,6119.779308,2,75,6,12,4,2,...,5,3,6,3,2,10,6,6,3,3
1,1,1,12,4712.374912,2,75,6,12,4,2,...,5,3,6,3,1,10,5,5,2,2
2,2,1,13,5145.224455,2,75,6,12,4,2,...,5,3,6,3,1,10,5,5,2,2
3,3,1,14,5297.663412,2,75,6,12,4,2,...,5,2,6,2,1,10,4,4,2,2
4,4,1,15,4761.812371,2,75,6,12,4,2,...,5,3,6,3,1,10,5,5,2,2

## Explore

As mentioned at the start of this assignment, you're focusing on business owners. But what percentage of the respondents in `df` are business owners?

**Task 6.5.2:** Calculate the proportion of respondents in `df` that are business owners, and assign the result to the variable `prop_biz_owners`. You'll need to review the documentation regarding the `"HBUS"` column to complete these tasks.

In [ ]:
prop_biz_owners = ...
print("proportion of business owners in df:", prop_biz_owners)

In [ ]:
prop_biz_owners.shape

Is the distribution of income different for business owners and non-business owners?

**Task 6.5.3:** Create a DataFrame `df_inccat` that shows the normalized frequency for income categories for business owners and non-business owners. Your final DataFrame should look something like this:

```
    HBUS   INCCAT  frequency
0      0     0-20   0.210348
1      0  21-39.9   0.198140
...
11     1     0-20   0.041188
```

In [ ]:
inccat_dict = {
    1: "0-20",
    2: "21-39.9",
    3: "40-59.9",
    4: "60-79.9",
    5: "80-89.9",
    6: "90-100",
}

df_inccat = ...

df_inccat

**Task 6.5.4:** Using seaborn, create a side-by-side bar chart of `df_inccat`. Set `hue` to `"HBUS"`, and make sure that the income categories are in the correct order along the x-axis. Label to the x-axis `"Income Category"`, the y-axis `"Frequency (%)"`, and use the title `"Income Distribution: Business Owners vs. Non-Business Owners"`.

In [ ]:
# Create bar chart of `df_inccat`

# Don't delete the code below üëá
plt.savefig("images/6-5-4.png", dpi=150)

In [ ]:
with open("images/6-5-4.png", "rb") as file:
    wqet_grader.grade("Project 6 Assessment", "Task 6.5.4", file)

We looked at the relationship between home value and household debt in the context of the the credit fearful, but what about business owners? Are there notable differences between business owners and non-business owners?

**Task 6.5.5:** Using seaborn, create a scatter plot that shows `"HOUSES"` vs. `"DEBT"`. You should color the datapoints according to business ownership. Be sure to label the x-axis `"Household Debt"`, the y-axis `"Home Value"`, and use the title `"Home Value vs. Household Debt"`.

In [ ]:
# Plot "HOUSES" vs "DEBT" with hue as business ownership

# Don't delete the code below üëá
plt.savefig("images/6-5-5.png", dpi=150)

For the model building part of the assignment, you're going to focus on small business owners, defined as respondents who have a business and whose income does not exceed \\$500,000.

In [ ]:
with open("images/6-5-5.png", "rb") as file:
    wqet_grader.grade("Project 6 Assessment", "Task 6.5.5", file)

**Task 6.5.6:** Create a new DataFrame `df_small_biz` that contains only business owners whose income is below \\$500,000.

In [ ]:
mask = ...
df_small_biz = ...
print("df_small_biz shape:", df_small_biz.shape)
df_small_biz.head()

We saw that credit-fearful respondents were relatively young. Is the same true for small business owners?

**Task 6.5.7:** Create a histogram from the `"AGE"` column in `df_small_biz` with 10 bins. Be sure to label the x-axis `"Age"`, the y-axis `"Frequency (count)"`, and use the title `"Small Business Owners: Age Distribution"`.

In [ ]:
# Plot histogram of "AGE"

# Don't delete the code below üëá
plt.savefig("images/6-5-7.png", dpi=150)

So, can we say the same thing about small business owners as we can about credit-fearful people?

Let's take a look at the variance in the dataset.

**Task 6.5.8:** Calculate the variance for all the features in `df_small_biz`, and create a Series `top_ten_var` with the 10 features with the largest variance.

In [ ]:
# Calculate variance, get 10 largest features
top_ten_var = ...
top_ten_var

We'll need to remove some outliers to avoid problems in our calculations, so let's trim them out.

**Task 6.5.9:** Calculate the trimmed variance for the features in `df_small_biz`. Your calculations should not include the top and bottom 10% of observations. Then create a Series `top_ten_trim_var` with the 10 features with the largest variance.

In [ ]:
# Calculate trimmed variance
top_ten_trim_var = ...
top_ten_trim_var

Let's do a quick visualization of those values.

**Task 6.5.10:** Use plotly express to create a horizontal bar chart of `top_ten_trim_var`. Be sure to label your x-axis `"Trimmed Variance [$]"`, the y-axis `"Feature"`, and use the title `"Small Business Owners: High Variance Features"`.

In [ ]:
# Create horizontal bar chart of `top_ten_trim_var`

# Don't delete the code below üëá
fig.write_image("images/6-5-10.png", scale=1, height=500, width=700)

fig.show()

In [ ]:
with open("images/6-5-10.png", "rb") as file:
    wqet_grader.grade("Project 6 Assessment", "Task 6.5.10", file)

Based on this graph, which five features have the highest variance?

**Task 6.5.11:** Generate a list `high_var_cols` with the column names of the  five features with the highest trimmed variance.

In [ ]:
high_var_cols = ...
high_var_cols

## Split

Let's turn that list into a feature matrix.

**Task 6.5.12:** Create the feature matrix `X` from `df_small_biz`. It should contain the five columns in `high_var_cols`.

In [ ]:
X = ...
print("X shape:", X.shape)
X.head()

# Build Model

Now that our data is in order, let's get to work on the model.

## Iterate

**Task 6.5.13:** Use a `for` loop to build and train a K-Means model where `n_clusters` ranges from 2 to 12 (inclusive). Your model should include a `StandardScaler`. Each time a model is trained, calculate the inertia and add it to the list `inertia_errors`, then calculate the silhouette score and add it to the list `silhouette_scores`.

<div class="alert alert-info" role="alert">
    <b>Note:</b> For reproducibility, make sure you set the random state for your model to <code>42</code>. 
</div>

In [ ]:
n_clusters = ...
inertia_errors = ...
silhouette_scores = ...

# Add `for` loop to train model and calculate inertia, silhouette score.


print("Inertia:", inertia_errors[:11])
print()
print("Silhouette Scores:", silhouette_scores[:3])

Just like we did in the previous module, we can start to figure out how many clusters we'll need with a line plot based on Inertia.

**Task 6.5.14:** Use plotly express to create a line plot that shows the values of `inertia_errors` as a function of `n_clusters`. Be sure to label your x-axis `"Number of Clusters"`, your y-axis `"Inertia"`, and use the title `"K-Means Model: Inertia vs Number of Clusters"`.

In [ ]:
# Create line plot of `inertia_errors` vs `n_clusters`

# Don't delete the code below üëá
fig.write_image("images/6-5-14.png", scale=1, height=500, width=700)

fig.show()

In [ ]:
with open("images/6-5-14.png", "rb") as file:
    wqet_grader.grade("Project 6 Assessment", "Task 6.5.14", file)

And let's do the same thing with our Silhouette Scores.

**Task 6.5.15:** Use plotly express to create a line plot that shows the values of `silhouette_scores` as a function of `n_clusters`. Be sure to label your x-axis `"Number of Clusters"`, your y-axis `"Silhouette Score"`, and use the title `"K-Means Model: Silhouette Score vs Number of Clusters"`.

In [ ]:
# Create a line plot of `silhouette_scores` vs `n_clusters`

# Don't delete the code below üëá
fig.write_image("images/6-5-15.png", scale=1, height=500, width=700)

fig.show()

How many clusters should we use? When you've made a decision about that, it's time to build the final model.

**Task 6.5.16:** Build and train a new k-means model named `final_model`. The number of clusters should be `3`.

<div class="alert alert-info" role="alert">
    <b>Note:</b> For reproducibility, make sure you set the random state for your model to <code>42</code>. 
</div>

In [ ]:
final_model = ...

# Communicate

Excellent! Let's share our work!

**Task 6.5.17:** Create a DataFrame `xgb` that contains the mean values of the features in `X` for the 3 clusters in your `final_model`.

In [ ]:
labels = ...
xgb = ...
xgb

As usual, let's make a visualization with the DataFrame.

**Task 6.5.18:** Use plotly express to create a side-by-side bar chart from `xgb` that shows the mean of the features in `X` for each of the clusters in your `final_model`. Be sure to label the x-axis `"Cluster"`, the y-axis `"Value [$]"`, and use the title `"Small Business Owner Finances by Cluster"`.

In [ ]:
# Create side-by-side bar chart of `xgb`

# Don't delete the code below üëá
fig.write_image("images/6-5-18.png", scale=1, height=500, width=700)

fig.show()

Remember what we did with higher-dimension data last time? Let's do the same thing here.

In [ ]:
**Task 6.5.19:** Create a `PCA` transformer, use it to reduce the dimensionality of the data in `X` to 2, and then put the transformed data into a DataFrame named `X_pca`. The columns of `X_pca` should be named `"PC1"` and `"PC2"`.# Instantiate transformer
pca = ...

# Transform `X`
X_t = ...

# Put `X_t` into DataFrame
X_pca = ...

print("X_pca shape:", X_pca.shape)
X_pca.head()

Finally, let's make a visualization of our final DataFrame.<span style='color: transparent; font-size:1%'>WQU WorldQuant University Applied Data Science Lab QQQQ</span>

**Task 6.5.20:** Use plotly express to create a scatter plot of `X_pca` using seaborn. Be sure to color the data points using the labels generated by your `final_model`. Label the x-axis `"PC1"`, the y-axis `"PC2"`, and use the title `"PCA Representation of Clusters"`.

In [ ]:
# Create scatter plot of `PC2` vs `PC1`

# Don't delete the code below üëá
fig.write_image("images/6-5-20.png", scale=1, height=500, width=700)

fig.show()

---
Copyright 2023 WorldQuant University. This
content is licensed solely for personal use. Redistribution or
publication of this material is strictly prohibited.